.container {
  display: flex;
  margin-left: 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.cast {
  margin-right: 20px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.reviews {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.cast:hover,
.reviews:hover {
  color: rgb(9, 5, 119);
}

.movieCard {
  display: flex;
}

.movieCardImg {
  height: 300px;
}

.movieCardInfo {
  margin-left: 15px;
}

.movieCardLink {
  display: flex;
  flex-direction: column;
}

.btn {
  margin: 20px 0 20px 0;
  padding: 10px 20px 10px 20px;
  border: 1.5px solid rgb(9, 5, 119);
  background-color: rgb(9, 5, 119);
  border-radius: 2px;
  color: white;
}

.btn:hover {
  background-color: rgb(5, 77, 27);
  border: 1.5px solid rgb(5, 77, 27);
}