.title {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: rgb(9, 5, 119);
}

.link {
  text-decoration: none;
  color: #000000;
}

.link:hover {
  color: rgb(9, 5, 119);
}